/* Custom styles for EmporifyX */

body {
    font-family: 'Arial', sans-serif;
  }
  
  .hero {
    height: 100vh;
    background: url('/img/Group\ 1000004668.jpg') no-repeat center center/cover;
  }
  
  .products .card {
    transition: transform 0.2s;
  }
  
  .products .card:hover {
    transform: scale(1.05);
  }
  
  .footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
  }
  
  .btn-primary {
    background-color: #FC5680;
    border-color: #FC5680;
  }
  
  .btn-primary:hover {
    background-color: #FC5680;
    border-color: #FC5680;
  }
  /* footer */
  /* Custom styles for EmporifyX cart page */

body {
  font-family: 'Arial', sans-serif;
}

.cart-item img {
  max-width: 100%;
}

.cart-summary {
  background-color: #f8f9fa;
  border-radius: 5px;
}

.cart-summary p {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
}

.footer p {
  margin: 0;
}


  /* log in and register */
  body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.card-subtitle {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.form-control {
    margin-bottom: 1rem;
    border-radius: 5px;
}

.btn-block {
    margin-top: 1rem;
}

.text-center a {
    display: block;
    margin-top: 0.5rem;
}

.mt-5 {
    margin-top: 3rem !important;
}

/* forget password */
/* Custom styles for EmporifyX forgot password page */

body {
  font-family: 'Arial', sans-serif;
}

.forgot-password .card {
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
}

.footer p {
  margin: 0;
}

/* cart */
/* Custom styles for EmporifyX cart page */

body {
  font-family: 'Arial', sans-serif;
}

.cart-item img {
  max-width: 100%;
}

.cart-summary {
  background-color: #f8f9fa;
  border-radius: 5px;
}

.cart-summary p {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
}

.footer p {
  margin: 0;
}
